body {
  padding: 0;
  margin: 0;
  background-image: url(https://i.gtimg.cn/qzone/space_item/orig/3/72019_top.jpg);
  background-size: 120% 120%;
  background-repeat: no-repeat;
}

body a {
  text-decoration: none;
}

.none {
  display: none;
}

.fade {
  animation: fade .8s;
  -webkit-animation: fade .8s;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input[type='number'] {
  -moz-appearance: textfield;
}

.container2 {
  margin: 0 auto;
  max-width: 1100px;
  min-width: 900px;
  position: relative;
}

#top {
  background-color: white;
  width: 100%;
  padding: 5px 0;
  height: 40px;
  border-bottom: #0771f3 2px solid;
  box-shadow: #888888 0px 1px 3px;
  overflow: auto;
  z-index: 5;
}

#top .back {
  margin-top: 5px;
  left: 10px;
  width: 30px;
  position: absolute;
  height: 30px;
  background-color: #7fb0eb;
  border: #0771f3 1px solid;
  border-radius: 8px;
  color: #0771f3;
  cursor: pointer;
}

#top .back:hover {
  background-color: #0771f3;
  color: white;
}

#top .top_find {
  margin-left: 30px;
  margin-top: 3px;
  border-radius: 15px;
  width: 360px;
  height: 35px;
  position: absolute;
  left: 50px;
  display: flex;
}

#top .top_find input {
  padding-left: 10px;
  width: 260px;
  border-radius: 10px 0px 0px 10px;
  border: 1px solid #1682e6;
  outline: none;
}

#top .top_find a {
  border-radius: 0 10px 10px 0;
  display: block;
  height: 21px;
  width: 50px;
  color: white;
  background-color: #0771f3;
  padding: 7px 10px;
}

#top #title {
  font-size: 24px;
  color: #7fb0eb;
  display: block;
  position: absolute;
  height: 30px;
  font-weight: 600;
  left: 480px;
}

#top #top_header {
  padding: 0 10px;
  display: flex;
  right: 0;
  position: absolute;
  height: 40px;
  line-height: 40px;
  font-size: 17px;
  color: #888888;
}

#top #top_header img {
  margin-top: 5px;
  border-radius: 100px;
  border: 1.5px #929292 solid;
  padding: 1px;
  width: 30px;
  height: 30px;
}

#top #top_header div {
  padding: 0 10px;
  height: 40px;
}

#top #top_header:hover {
  color: #7fb0eb;
}

#main {
  margin: 0 auto;
  max-width: 1100px;
  min-width: 1000px;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  position: relative;
  background-color: white;
  z-index: 1;
  top: 0;
}

#main #main-left {
  border: 1.5px #e5e5e5 solid;
  width: 230px;
  background-color: white;
}

#main #main-left .feedback-sort {
  width: 100%;
  height: 40px;
  display: block;
  border-bottom: 1.5px #e5e5e5 solid;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 40px;
  color: black;
  position: relative;
}

#main #main-left .feedback-sort div {
  display: none;
  width: 8px;
  height: 8px;
  border-radius: 100px;
  background-color: #fa5252;
  position: absolute;
  top: 10px;
  right: 10px;
}

#main #main-left .feedback-sort:hover {
  color: white;
  background-color: #b9d6fa;
}

#main #main-right {
  width: 820px;
  padding: 20px;
  background-color: white;
  height: 650px;
}

#main #main-right .main-right-top {
  width: 800px;
  padding: 10px;
  height: 30px;
  font-size: 22px;
  border-bottom: 1.5px #e5e5e5 solid;
}

#main #main-right .main-right-top a {
  margin-left: 550px;
  color: #1890FF;
  font-size: 15px;
}

#main #main-right .main-right-top a:hover {
  color: #68b0f3;
}

#main #main-right .main-right-bon {
  width: 400px;
  margin-top: 10px;
  margin-left: 400px;
  height: 28px;
  font-size: 14px;
  overflow: hidden;
}

#main #main-right .main-right-bon input {
  border: 1.5px solid #1682e6;
  border-radius: 8px;
  font-size: 13px;
  padding-left: 5px;
}

#main #main-right .main-right-bon a {
  width: 25px;
  height: 25px;
  display: block;
  float: right;
  line-height: 25px;
  text-align: center;
  border-radius: 5px;
  color: #77787c;
  margin: 0 5px;
  background-color: gainsboro;
}

#main #main-right .main-right-bon a:hover {
  background-color: #1890FF;
  color: white;
}

#main #main-right .main-right-bon button {
  width: 80px;
  height: 26px;
  display: block;
  float: right;
  line-height: 24px;
  background-color: #E8F4FF;
  color: #1890FF;
  border: #c3e0fc 1px solid;
  text-align: center;
  border-radius: 5px;
  color: #6e6e6e;
  margin: 0 5px;
  cursor: pointer;
}

#main #main-right .main-right-bon button:hover {
  background-color: #1890FF;
  color: white;
}

#main #main-right .main-right-bon span {
  height: 25px;
  margin: 0 5px;
  line-height: 25px;
  float: right;
}

#main #main-right .feedback-a {
  border-bottom: 1.5px #e5e5e5 solid;
  width: 800px;
  padding: 10px;
  height: 50px;
  display: block;
  transition: .5s;
  position: relative;
}

#main #main-right .feedback-a .red {
  display: none;
  width: 8px;
  height: 8px;
  border-radius: 100px;
  background-color: #fa5252;
  position: absolute;
  top: 10px;
  right: 10px;
}

#main #main-right .feedback-a:hover {
  background-color: #bbd7f8;
}

#main #main-right .feedback-a:hover .feedback-a-text {
  color: black;
}

#main #main-right .feedback-a .feedback-a-text {
  color: #525252;
  font-size: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 780px;
  height: 30px;
}

#main #main-right .feedback-a .feedback-a-message {
  color: #888888;
  font-size: 14px;
  width: 100%;
  height: 20px;
}

#main #main-right .feedback-a .feedback-a-message span {
  padding-right: 10px;
}

#main #main-right .feedback-a .feedback-delete {
  opacity: .8;
  border: #bbd7f8 1px solid;
  position: absolute;
  top: 35px;
  right: 20px;
  cursor: pointer;
  border-radius: 8px;
  padding: 5px 10px;
  transition: 0.15s;
}

#main #main-right .feedback-a .feedback-delete i {
  padding: 0 3px;
}

#main #main-right .feedback-a .feedback-delete:hover {
  background-color: #FFEDED;
  color: #ec4c4c;
  border: #e9a4a4 1px solid;
}

#main #main-right .alike-a {
  border-bottom: 1.5px #e5e5e5 solid;
  width: 800px;
  padding: 10px;
  height: 60px;
  display: flex;
  transition: .5s;
  position: relative;
}

#main #main-right .alike-a .red {
  display: none;
  width: 8px;
  height: 8px;
  border-radius: 100px;
  background-color: #fa5252;
  position: absolute;
  top: 10px;
  right: 10px;
}

#main #main-right .alike-a img {
  margin: 5px;
  width: 40px;
  height: 40px;
  border-radius: 100px;
}

#main #main-right .alike-a .message-card {
  width: 580px;
  height: 60px;
  margin-left: 10px;
}

#main #main-right .alike-a .message-card .message-card-top {
  width: 600px;
  height: 30px;
  line-height: 30px;
}

#main #main-right .alike-a .message-card .message-card-top .message-username {
  color: #2a2929;
  font-size: 15px;
  font-weight: 700;
}

#main #main-right .alike-a .message-card .message-card-top .message-username:hover {
  color: #525252;
}

#main #main-right .alike-a .message-card .message-card-top .message-tpye {
  color: #525252;
  font-size: 13px;
}

#main #main-right .alike-a .message-card .message-card-bon {
  width: 580px;
  height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#main #main-right .alike-a .message-card .message-card-bon a {
  color: #9fccf7;
  font-weight: 600;
}

#main #main-right .alike-a .message-card .message-card-bon a:hover {
  color: #1682e6;
  font-weight: 700;
}

#main #main-right .alike-a .message-con {
  width: 170px;
  height: 50px;
  padding: 5px;
  overflow: hidden;
  position: relative;
}

#main #main-right .alike-a .message-con .message-delete {
  opacity: .8;
  border: #bbd7f8 1px solid;
  cursor: pointer;
  border-radius: 8px;
  padding: 6px;
  margin-left: 100px;
  transition: 0.15s;
}

#main #main-right .alike-a .message-con .message-delete i {
  padding: 0 3px;
}

#main #main-right .alike-a .message-con .message-delete:hover {
  background-color: #FFEDED;
  color: #ec4c4c;
  border: #e9a4a4 1px solid;
}

#main #main-right .alike-a .message-con span {
  display: block;
  width: 170px;
  font-size: 14px;
  color: #525252;
}

#feedback {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0px;
  z-index: 101;
  display: none;
  opacity: 0;
}

#feedback #feedback_main {
  padding: 20px;
  width: 300px;
  height: 280px;
  background-color: white;
  margin: 20vh auto;
  border-radius: 5px;
  position: relative;
}

#feedback #feedback_main a {
  display: block;
  width: 22px;
  text-align: center;
  height: 22px;
  line-height: 20px;
  border-radius: 100px;
  font-size: 25px;
  position: absolute;
  color: #000000;
  top: 10px;
  right: 20px;
  transition: .2s;
}

#feedback #feedback_main a:hover {
  color: white;
  background-color: #8e8e8e;
}

#feedback #feedback_main .min_feedback_title {
  width: 100%;
  height: 30px;
  margin-top: 10px;
  font-size: 17px;
  color: #1682e6;
}

#feedback #feedback_main .min_feedback_text {
  font-size: 14px;
  color: #242424;
  width: 280px;
  padding: 5px;
  height: 60px;
  overflow: auto;
  border: 1.5px solid #7fb0eb;
  border-radius: 5px;
}

#feedback #feedback_main .min_feedback_bottom {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 8px;
  color: #8e8e8e;
  font-size: 14px;
}

#feedback #feedback_main .min_feedback_bottom i {
  color: #1682e6;
  padding-right: 5px;
}

#emptymessage {
  width: 100%;
  height: 600px;
  text-align: center;
  font-size: 25px;
}

#emptymessage i {
  color: #68b0f3;
  font-size: 30px;
}
