* {
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
}

.bigBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2px auto;
  max-width: 1200px;
}

.bigBox .keepBefore {
  position: fixed;
  width: 300px;
  height: 0px;
  z-index: 99;
  overflow: hidden;
  top: 120px;
  background-color: #fff;
  box-shadow: 0 10px 30px rgba(175, 169, 169, 0.4);
  border-radius: 10px;
  transition: all .4s;
}

.bigBox .keepBefore p {
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  margin-top: 30px;
  color: #6fa1e3;
}

.bigBox .keepBefore .choose {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 40px;
}

.bigBox .keepBefore .choose .quit,
.bigBox .keepBefore .choose .next {
  width: 50%;
  height: 40px;
  border: none;
  background-color: #2f70c5;
  color: white;
  margin-top: 100px;
  border: 1px solid #89afdc;
}

.bigBox .passBefore {
  position: fixed;
  width: 300px;
  height: 0px;
  z-index: 99;
  overflow: hidden;
  top: 120px;
  background-color: #fff;
  box-shadow: 0 10px 30px rgba(175, 169, 169, 0.4);
  border-radius: 10px;
  transition: all .4s;
}

.bigBox .passBefore p {
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  margin-top: 30px;
  color: #6fa1e3;
}

.bigBox .passBefore .choose {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 40px;
}

.bigBox .passBefore .choose .passQuit,
.bigBox .passBefore .choose .passNext {
  width: 50%;
  height: 40px;
  border: none;
  background-color: #2f70c5;
  color: white;
  margin-top: 100px;
  border: 1px solid #89afdc;
}

.bigBox .keepSuccess {
  position: fixed;
  width: 300px;
  height: 0px;
  z-index: 99;
  overflow: hidden;
  top: 120px;
  background-color: #fff;
  box-shadow: 0 10px 30px rgba(175, 169, 169, 0.4);
  border-radius: 10px;
  transition: all .4s;
}

.bigBox .keepSuccess p {
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  margin-top: 30px;
  color: #6fa1e3;
}

.bigBox .keepSuccess .okBtn {
  width: 100%;
  height: 40px;
  border: none;
  background-color: #2f70c5;
  color: #fff;
  border-radius: 5px;
  margin-top: 100px;
}

.bigBox .changed {
  position: relative;
  width: 370px;
  height: 500px;
  box-shadow: 0 10px 30px rgba(175, 169, 169, 0.4);
  background-color: white;
  border: 1px solid transparent;
  transition: all .5s;
  transform: scale(0.7);
}

.bigBox .changed h3 {
  width: 100%;
  height: 30px;
  line-height: 30px;
  color: #8cb6e9;
  text-align: center;
  font-size: 20px;
  margin-top: 60px;
}

.bigBox .changed .userHead {
  position: absolute;
  width: 70px;
  height: 70px;
  top: -25px;
  left: 155px;
  border-radius: 70px;
  background-image: url(../../img/yxy/userHead.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.bigBox .changed form {
  width: 200px;
  height: 480px;
  margin-top: -10px;
  margin-left: 100px;
}

.bigBox .changed form span {
  display: inline-block;
  width: 250px;
  height: 40px;
  line-height: 30px;
  color: #799fd1;
  font-size: 18px;
  margin-top: 15px;
  font-weight: 700;
}

.bigBox .changed form .userName,
.bigBox .changed form .userSex,
.bigBox .changed form .userAge,
.bigBox .changed form .userMail {
  display: inline-block;
  width: 200px;
  color: #71767c;
  font-size: 16px;
}

.bigBox .changed form .briefText {
  width: 200px;
  height: 50px;
  outline: none;
  font-size: 16px;
  border: none;
  margin-top: 20px;
  border: 1px solid #89afdc;
}

.bigBox .changing {
  position: relative;
  width: 400px;
  height: 650px;
  margin-top: 50px;
  background-color: white;
  box-shadow: 0 10px 30px rgba(175, 169, 169, 0.4);
  border: 1px solid transparent;
  transition: all .5s;
  transform: scale(0.7);
}

.bigBox .changing h3 {
  width: 100%;
  height: 30px;
  color: #8cb6e9;
  line-height: 30px;
  text-align: center;
  font-size: 20px;
  margin-top: 70px;
}

.bigBox .changing .changeHead {
  position: absolute;
  width: 70px;
  height: 70px;
  top: -25px;
  left: 165px;
  border-radius: 70px;
  background-image: url(../../img/yxy/userHead.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.bigBox .changing .changeHead #changeHeadimg {
  position: absolute;
  width: 70px;
  height: 70px;
}

.bigBox .changing .changeHead #file {
  top: 0;
  position: absolute;
  z-index: 10;
  width: 70px;
  height: 70px;
  background-color: white;
  opacity: 0;
  z-index: 100;
  cursor: pointer;
}

.bigBox .changing form {
  width: 200px;
  height: 480px;
  margin-left: 80px;
}

.bigBox .changing form span {
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  color: #799fd1;
  margin-top: 20px;
}

.bigBox .changing form input {
  width: 200px;
  height: 30px;
  line-height: 30px;
  padding: 8px 20px 8px 10px;
  background-color: #f4f9fb;
  outline: none;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 16px;
}

.bigBox .changing form .inputSex {
  display: inline-block;
  width: 100px;
  height: 30px;
  outline: none;
  border: 1px solid #89afdc;
}

.bigBox .changing form .inputSex option {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: none;
  background-color: #fff;
}

.bigBox .changing form .inputBriefText {
  width: 200px;
  height: 50px;
  padding: 5px 5px;
  outline: none;
  margin-top: 10px;
  font-size: 16px;
  border: 1px solid #89afdc;
}

.bigBox .changing form .nameFill,
.bigBox .changing form .ageFill,
.bigBox .changing form .mailFill {
  display: none;
  width: auto;
  font-size: 12px;
  color: red;
  font-weight: 400;
}

.bigBox .changing form .keepBtn {
  border: none;
  width: 100px;
  height: 40px;
  color: #fff;
  background-color: #6fa1e3;
  margin-left: 60px;
  margin-top: 20px;
}

.bigBox .passBox {
  position: relative;
  width: 370px;
  height: 620px;
  transition: all .5s;
  transform: scale(0.7);
  margin-top: 20px;
  background-color: #fff;
}

.bigBox .passBox .changePass {
  position: absolute;
  width: 370px;
  height: 620px;
  background-color: #fff;
  margin-top: 40px;
  box-shadow: 0 10px 30px rgba(175, 169, 169, 0.4);
  background-color: white;
  border: 1px solid transparent;
}

.bigBox .passBox .changePass h3 {
  width: 100%;
  height: 30px;
  line-height: 30px;
  color: #8cb6e9;
  text-align: center;
  font-size: 20px;
  margin-top: 60px;
}

.bigBox .passBox .changePass .userHead {
  position: absolute;
  width: 70px;
  height: 70px;
  top: -25px;
  left: 150px;
  border-radius: 70px;
  background-image: url(../../img/yxy/userHead.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.bigBox .passBox .changePass form {
  width: 200px;
  height: 480px;
  margin-top: -10px;
  margin-left: 80px;
}

.bigBox .passBox .changePass form .forgetPass {
  display: inline-block;
  width: 100%;
  height: 30px;
  cursor: pointer;
  text-align: center;
  line-height: 30px;
  font-size: 16px;
  font-weight: 400;
}

.bigBox .passBox .changePass form span {
  display: inline-block;
  width: 250px;
  height: 40px;
  line-height: 30px;
  color: #799fd1;
  font-size: 18px;
  margin-top: 15px;
  font-weight: 700;
}

.bigBox .passBox .changePass form span .fill {
  display: none;
  width: auto;
  font-size: 12px;
  color: red;
  font-weight: 400;
}

.bigBox .passBox .changePass form input {
  width: 180px;
  height: 30px;
  line-height: 30px;
  padding: 8px 0px 8px 10px;
  background-color: #f4f9fb;
  outline: none;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
  font-size: 16px;
}

.bigBox .passBox .changePass form #inputAccount {
  width: 220px;
}

.bigBox .passBox .changePass form .newPass,
.bigBox .passBox .changePass form .surePass,
.bigBox .passBox .changePass form .oldPass {
  width: 170px;
}

.bigBox .passBox .changePass form .newPassBox,
.bigBox .passBox .changePass form .surePassBox,
.bigBox .passBox .changePass form .oldPassBox {
  display: flex;
  align-items: center;
  width: 230px;
  height: 50px;
  background-color: #f4f9fb;
  border-radius: 5px;
}

.bigBox .passBox .changePass form i {
  font-size: 20px;
  color: #5c83c2;
}

.bigBox .passBox .changePass form #eyeOpen_1,
.bigBox .passBox .changePass form #eyeOpen_2,
.bigBox .passBox .changePass form #eyeOpen_3 {
  display: none;
}

.bigBox .passBox .changePass form .changePassBtn {
  border: none;
  width: 100px;
  height: 40px;
  color: #fff;
  background-color: #6fa1e3;
  margin-left: 50px;
  margin-top: 20px;
  cursor: pointer;
}

@media screen and (max-width: 1215px) {
  .bigBox {
    flex-wrap: wrap;
  }
}
