* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-image: url(../../img/yxy/draftBGI.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.chooseCover {
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0px;
  z-index: 101;
  display: none;
  opacity: 0;
}

.chooseCover .tip {
  position: relative;
  width: 300px;
  height: 0px;
  z-index: 99;
  overflow: hidden;
  top: 120px;
  background-color: #fff;
  border-radius: 10px;
  transition: all .4s;
}

.chooseCover .tip p {
  position: absolute;
  width: 100%;
  height: 60px;
  line-height: 30px;
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  color: #6fa1e3;
  top: 30px;
}

.chooseCover .tip .choose {
  position: absolute;
  display: flex;
  bottom: 0;
  justify-content: space-around;
  width: 100%;
  height: 40px;
}

.chooseCover .tip .choose .tipNo,
.chooseCover .tip .choose .tipOk {
  width: 50%;
  height: 40px;
  border: none;
  color: #fff;
  background-color: #2f70c5;
  border: 1px solid #89afdc;
}

.sureCover {
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0px;
  z-index: 101;
  display: none;
  opacity: 0;
}

.sureCover .successTip {
  position: relative;
  width: 300px;
  height: 0px;
  z-index: 99;
  overflow: hidden;
  top: 120px;
  background-color: #fff;
  border-radius: 10px;
  transition: all .4s;
}

.sureCover .successTip p {
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  margin-top: 30px;
  color: #6fa1e3;
}

.sureCover .successTip .successOk {
  position: absolute;
  display: flex;
  bottom: 0;
  justify-content: space-around;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #2f70c5;
  color: white;
  border: 1px solid #89afdc;
}

.nav {
  width: 100%;
  height: 50px;
  background-color: #fff;
  text-align: center;
  color: #76aef3;
  font-size: 25px;
  font-weight: 700;
  border-bottom: #0771f3 2px solid;
  line-height: 50px;
}

.nav #back_history {
  border: #1a7cf4 1px solid;
  font-size: 14px;
  width: 30px;
  margin-top: 3px;
  margin-left: 20px;
  height: 30px;
  cursor: pointer;
  background-color: #64a6f7;
  color: #1e1e1e;
  padding: 5px;
  border-radius: 6px;
}

.nav #back_history:hover {
  background-color: #2989ff;
  color: white;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1100px;
  min-width: 1000px;
  margin-top: 50px;
  background-color: #fff;
  min-height: 600px;
  max-height: 700px;
  border-radius: 30px;
  border-top: 5px solid #90bcf3;
  box-shadow: 0 5px 5px #d7d2d2;
}

.content .handle {
  position: relative;
  width: 100%;
  height: 70px;
  border-bottom: #a3cbfc 2px solid;
}

.content .handle .massDelete,
.content .handle .deleteChoose,
.content .handle .findMassDelete,
.content .handle .findDeleteChoose,
.content .handle .lastInfo {
  display: inline-block;
  width: 80px;
  height: 30px;
  color: #fff;
  background: rgba(184, 72, 72, 0.5);
  border: none;
  border-radius: 5px;
}

.content .handle .deleteChoose,
.content .handle .findDeleteChoose {
  display: none;
  margin: 20px 5px 20px 5px;
}

.content .handle .lastInfo {
  display: inline-block;
  width: 80px;
  height: 30px;
  color: #fff;
  background: rgba(72, 96, 184, 0.5);
  border: none;
  border-radius: 5px;
}

.content .handle .reset,
.content .handle .findReset {
  width: 80px;
  height: 30px;
  color: #fff;
  background: rgba(184, 72, 72, 0.5);
  border: none;
  border-radius: 5px;
}

.content .handle .btn_1,
.content .handle .btn_2 {
  position: absolute;
  right: 50px;
  width: 400px;
  height: 100%;
}

.content .handle .btn_1 button,
.content .handle .btn_2 button {
  margin: 20px 5px 20px 5px;
}

.content .handle .btn_2 {
  display: none;
}

.content .handle .allChoose,
.content .handle .cancelAll,
.content .handle .reset,
.content .handle .findAllChoose,
.content .handle .findCancelAll,
.content .handle .findReset {
  display: none;
  width: 80px;
  height: 30px;
  background-color: #76aef3;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  color: #fff;
}

.content .handle .findBox {
  display: flex;
  position: absolute;
  top: 14px;
  left: 200px;
  width: 230px;
  height: 42px;
}

.content .handle .findBox input {
  display: inline-block;
  width: 170px;
  height: 40px;
  padding-left: 10px;
  outline: none;
  border: none;
  border: 1px solid #a3cbfc;
  border-radius: 5px;
}

.content .handle .findBox .findBtn {
  display: inline-block;
  width: 50px;
  height: 42px;
  background-color: #76aef3;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.content .empty {
  display: none;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  height: 380px;
  background-color: #fff;
}

.content .empty .emptyBox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100px;
  color: dimgrey;
  font-size: 25px;
}

.content .empty .emptyBox i {
  font-size: 35px;
}

.content .list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 420px;
  background-color: #fff;
}

.content .list li {
  display: flex;
  position: relative;
  height: 70px;
  width: 100%;
  border-bottom: 1.5px #e5e5e5 solid;
  border-radius: 8px;
}

.content .list li:hover {
  background-color: #dae8fa;
}

.content .list li .noChoose {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  width: 12px;
  height: 12px;
  margin-top: 30px;
  border-radius: 12px;
  background-color: #fff;
  border: 1px solid #7b7878;
}

.content .list li .itemContent {
  display: inline-block;
  position: absolute;
  left: 40px;
  width: 500px;
  height: 100%;
}

.content .list li .itemContent .title {
  display: inline-block;
  width: 100%;
  height: 30px;
  font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #636262;
}

.content .list li .itemContent .lastTime {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  color: #76aef3;
}

.content .list li .itemHandle {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  height: 100%;
  right: 40px;
}

.content .list li button {
  width: 60px;
  height: 30px;
  color: #665e5e;
  border: none;
  border-radius: 5px;
  font-weight: 600;
}

.content .list li .itemDelete {
  background-color: pink;
}

.content .list li .itemChange {
  background-color: #76aef3;
}

.content .find {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 420px;
  background-color: #fff;
}

.content .find li {
  display: flex;
  position: relative;
  height: 70px;
  width: 100%;
  border-bottom: 1.5px #e5e5e5 solid;
  border-radius: 8px;
}

.content .find li:hover {
  background-color: #dae8fa;
}

.content .find li .findChoose {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  width: 12px;
  height: 12px;
  margin-top: 30px;
  border-radius: 12px;
  background-color: #fff;
  border: 1px solid #7b7878;
}

.content .find li .itemContent {
  display: inline-block;
  position: absolute;
  left: 40px;
  width: 500px;
  height: 100%;
}

.content .find li .itemContent .title {
  display: inline-block;
  width: 100%;
  height: 30px;
  font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #636262;
}

.content .find li .itemContent .lastTime {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  color: #76aef3;
}

.content .find li .itemHandle {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  height: 100%;
  right: 40px;
}

.content .find li button {
  width: 60px;
  height: 30px;
  color: #665e5e;
  border: none;
  border-radius: 5px;
  font-weight: 600;
}

.content .find li .itemDelete {
  background-color: pink;
}

.content .find li .itemChange {
  background-color: #76aef3;
}

.content .page,
.content .findPage {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  width: 500px;
  height: 50px;
  margin-top: 40px;
}

.content .findPage {
  display: none;
}

.content .line {
  color: #76aef3;
}

.content .lastPage,
.content .nextPage,
.content .findLastPage,
.content .findNextPage {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
  line-height: 40px;
  color: cornflowerblue;
  font-size: 25px;
  font-weight: 700;
  border: 1px solid #a3cbfc;
  cursor: pointer;
}

.content .lastPage:hover,
.content .nextPage:hover,
.content .findLastPage:hover,
.content .findNextPage:hover {
  color: #fff;
  background-color: cornflowerblue;
}

.content .searchPageBox,
.content .findSearchPageBox {
  display: flex;
  width: 163px;
  height: 32px;
}

.content input {
  display: inline-block;
  width: 100px;
  height: 30px;
  padding-left: 10px;
  outline: none;
  border: none;
  border: 1px solid #a3cbfc;
  border-radius: 2px;
}

.content .sure,
.content .findSure {
  display: inline-block;
  width: 50px;
  height: 32px;
  background-color: #76aef3;
  color: #fff;
  border: none;
  border-radius: 2px;
  margin-left: -2px;
  cursor: pointer;
}

.findItemDelete {
  background-color: pink;
}

.findItemChange {
  background-color: #76aef3;
}
