<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>未来头条</title>
    <link rel="shortcut icon" href="img/wzz/newicon.png" type="image/vnd.microsoft.icon">
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="css/zyt/response.css">
    <link rel="stylesheet" href="css/zyt/about_title.css">
    <script src="js/zyt/js/about_title.js"></script>
</head>

<body>
    <div class="about_headline">
        <div class="about_headline_wrap">
            <div class="about_head_top">
                <div class="about_head_top_wrap">
                    <div class="about_headline_content">
                        <span class="about_headline_top_li" id="about_headline_top_li">登录</span>
                        <span class="about_headline_top_li" id="join">会员申请</span>
                        <span class="about_headline_top_li" id="product">头条产品</span>
                    </div>
                </div>
            </div>
            <div class="about_head_flex">
                <div class="about_head_flex_wrap">
                    <span class="pic_symbol">
                        <img src="img/zyt/QQ截图20220505174112.png" alt="" class="flex_pic">
                    </span>
                    <span class="flex">
                        <div class="item current">关于头条</div>
                        <div class="item">媒体报道</div>
                        <div class="item" id="item">合作展示</div>
                        <div class="item">联系我们</div>
                        <div class="item">用户协议</div>
                        <div class="item">投诉指引</div>
                        <div class="item">友情链接</div>
                    </span>
                </div>
            </div>
            <div class="flex_content">
                <div class="flex_content_wrap">
                    <div class="flex_content_div">
                        <p>
                            未来头条是一个通用信息平台，致力于连接人与信息，让优质丰富的信息得到高效精准的分发，促使信息创造价值。
                        </p>
                        <p>
                            未来头条目前拥有推荐引擎、搜索引擎、关注订阅和内容运营等多种分发方式，囊括图文、视频、问答、微头条、专栏、小说、直播、音频和小程序等多种内容体裁，并涵盖科技、体育、健康、美食、教育、三农、国风等超过100个内容领域。
                        </p>

                        <p>
                            头条搜索是今日头条推出的搜索引擎服务，支持海量优质内容和全网公开内容的检索，为用户提供精准、专业、快捷的搜索结果。用户可以在今日头条客户端内体验，除了默认的综合搜索频道外，还有视频、资讯、小视频、图片、音乐、影视等多个垂直搜索，全方位满足搜索需求。
                        </p>

                        <p>
                            头条号是今日头条旗下开放的内容创作与分发平台， 实现政府部门、媒体、企业、个人等内容创作者与用户之间的智能连接。截至2019年12月，头条号帐号总数已超过 180 万，平均每天发布
                            60
                            万条内容。
                        </p>
                        <p>
                            微头条是今日头条旗下的社交产品，用户可通过发布图文、短视频、直播等多形式的动态与人互动，逐渐与人建立起社交关系。在微头条，用户每天产生的互动数量超过2000万，发布量近1000万，活跃的大咖超过1万位。
                        </p>
                    </div>
                    <div class="flex_content_div" id="lunbo">
                        <div class="container">向英雄敬礼 为英雄点赞</div>
                        <img src="img/zyt/QQ截图20220504200240.png" class="beijingtu">
                    </div>
                    <div class="flex_content_div">
                        <div class="showArea">
                            <p>当然，你若说可以，那也是必得花费非常多的精力与时间，并且只是微小的器件。若都是各干各的，那么现代的如此高超的科技，得到何时才能实现啊，最起码也要推迟几千年!</p>
                            <p>若只有分工，有足够大的力量，但却是零零散散的，那么这分工也是可有可无的。有一批工作，大家得到了相应的工作，并不辞辛劳，有的人很快完成了，有的人还有那么多没完成，可时间仅仅那么点。可大部分人完成了又有什么用，照样全体还是没有完成，不能如期交工。完成的人就连连抱怨，但若当他们做完自己的那份，再去帮助别人，那么工作效率不就大大提高了，那还会有达不成的任务，这就是人的自私，合作的杀手。
                                若只有分工，有足够大的力量，但却是零零散散的，那么这分工也是可有可无的.有一批工作，大家得到了相应的工作，并不辞辛劳，有的人很快完成了，有的人还有那么多没完成，可时间仅仅那么点.可大部分人完成了又有什么用，照样全体还是没有完成，不能如期交工.完成的人就连连抱怨，但若当他们做完自己的那份，再去帮助别人，那么工作效率不就大大提高了，那还会有达不成的任务，这就是人的自私，合作的杀手.
                            </p>
                            <p><a href="#" class="showPage">团结很重要，</a>合作也同样如此，二者缺一不可，少了其中一个，多多少少会对整个工作流程产生影响。</p>
                        </div>
                    </div>
                   
                    <div class="flex_content_div">
                        <div class="connect_us">
                            <p> 邮箱号： 1234 57800</p>
                            <p> 手机号： 49876095453</p>
                            <p> 微信号: 753fj776888686</p>
                        </div>
                    </div>
                    <div class="flex_content_div">
                        <div class="chanqvan_title">
                            <h3>TOSKY 用户协议</h3>
                        </div>
                        <div class="appointment">
                            一切产权、解释权供我方所有
                        </div>
                    </div>
                    <div class="flex_content_div">
                        <div class="apply_title">温馨提示：如有广告相关投诉，请跳转广告投诉平台提交
                            <a class="runaway">立即跳转 </a>
                            <div class="demend">申请投诉</div>
                        </div>


                    </div>
                   
                    <div class="flex_content_div">
                        <div class="friend_connection">
                            <div class="friend_connection_title">友情链接</div>
                            <div class="friend_connection_flex">
                                <a class="friend_connection_item">光明网</a>
                                <a class="friend_connection_item">央广网</a>
                                <a class="friend_connection_item">国际在线</a>
                                <a class="friend_connection_item">中国西藏网</a>
                                <a class="friend_connection_item">参与消息</a>
                                <a class="friend_connection_item">环球网</a>
                                <a class="friend_connection_item">中青在线</a>
                                <a class="friend_connection_item">中青网</a>
                                <a class="friend_connection_item">中工网</a>
                                <a class="friend_connection_item">海外网</a>
                                <a class="friend_connection_item">光明网</a>
                                <a class="friend_connection_item">央广网</a>
                                <a class="friend_connection_item">国际在线</a>
                                <a class="friend_connection_item">中国西藏网</a>
                                <a class="friend_connection_item">参与消息</a>
                                <a class="friend_connection_item">环球网</a>
                                <a class="friend_connection_item">中青在线</a>
                                <a class="friend_connection_item">中青网</a>
                                <a class="friend_connection_item">中工网</a>
                                <a class="friend_connection_item">海外网</a>
                                <a class="friend_connection_item">中国西藏网</a>
                                <a class="friend_connection_item">参与消息</a>
                                <a class="friend_connection_item">环球网</a>
                                <a class="friend_connection_item">中青在线</a>
                                <a class="friend_connection_item">中青网</a>
                                <a class="friend_connection_item">中工网</a>
                                <a class="friend_connection_item">海外网</a>
                                <a class="friend_connection_item">海外网</a>
                                <a class="friend_connection_item">中国西藏网</a>
                                <a class="friend_connection_item">参与消息</a>
                                <a class="friend_connection_item">环球网</a>
                                <a class="friend_connection_item">中青在线</a>
                                <a class="friend_connection_item">中青网</a>
                                <a class="friend_connection_item">中工网</a>
                                <a class="friend_connection_item">海外网</a>
                                <a class="friend_connection_item">海外网</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="right_nav">
                <div class="right_nav_wrap">
                    <div class="indexPage" id="right_nav_div">
                        <i class="fa fa-calendar-o" aria-hidden="true" id="index_con"></i>
                        <div class="index_text">首页</div>
                    </div>
                    <div class="feedbacks" id="right_nav_div">
                        <i class="fa fa-commenting-o" aria-hidden="true" id="feedback_con"></i>
                        <div class="feedback_text">反馈</div>
                    </div>

                    <div class="goback" id="right_nav_div">
                        <i class="fa fa-hand-pointer-o" aria-hidden="true" id="goback_con"></i>
                        <div class="goback_text">顶部</div>
                    </div>

                </div>
            </div>




        </div>
    </div>
    <!-- wzz添加的反馈栏目 -->
    <div id="feedback">
        <div id="feedback_main">
            <div class="feedback_main_top">
                反馈栏目
                <img src="static/img/wzz/biaoqin1.gif" alt="">
                <a href="javascript:;" onclick="Feedback_down()">×</a>
            </div>
            <div class="feedback_link">
                <i>*</i>
                反馈类型：
            </div>
            <div class="feedback_link">
                <input type="radio" class="feedback_sex" name="feedback_type" value="优化推荐">优化推荐
                <input type="radio" class="feedback_sex" name="feedback_type" value="bug报备">bug报备
                <input type="radio" class="feedback_sex" name="feedback_type" value="其他">其他
            </div>
            <div class="feedback_link">
                <i>*</i>
                联系方式：
            </div>
            <input type="text" class="feedback_send" placeholder="邮箱/电话号">
            <div class="feedback_link">
                <i>*</i>
                您的反馈：
            </div>
            <textarea type="text" class="feedback_text" placeholder="请填写反馈内容"></textarea>
            <div style="font-weight: 600;" class="feedback_link">
                <i>*</i>
                欢迎您的反馈!
                <i>*</i>
            </div>
            <button id="tofeedback" class="havaland">发送反馈</button>
        </div>
    </div>
    <!-- 反馈栏目 -->
</body>
<script src="js/jquery-3.6.0.js"></script>
<script src="js/zyt/feedback.js"></script>

</html>