<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>未来头条</title>
    <link rel="shortcut icon" href="static/img/wzz/newicon.png" type="image/vnd.microsoft.icon">
    <!-- <link rel="stylesheet" href="../css/recomment.css"> -->
    <link rel="stylesheet" href="css/zyt/recomment.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">

</head>
<body>
<div class="recomment1">
    <div class="reco1_wrap">
        <div class="reco1_top">
            <span class="reco1_pic"><img src="static/img/zyt/symbol.png" alt="" class="symbol"></span>
            <span class="title_name">西瓜视频</span>
            <div class="reco1_input">
                <input type="text" class="title_input">
                <div class="pad">中国驻俄大师馆提醒</div>
                <div class="reco1_search">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <span class="search">搜索</span>
                </div>
            </div>
            <ul class="classify">
                <div class="classify_wrap">
                    <li class="reco1_li">无障碍</li>
                    <li class="reco1_li">下载APP</li>
                    <li class="reco1_li">创作平台</li>
                    <span id="message">
                            <img src="static/img/zyt/message.png" class="message">
                            <d>消息</d>
                            <input type="text" class="message_input" value="2">
                        </span>
                </div>
            </ul>
            <div class="sent_audio">
                <span class="plus">+</span>
                <span class="sent_text">发视频</span>
            </div>
            <div class="avator">
                <img src="static/img/zyt/user.jpeg" alt="" class="user">
                <div class="user_message">
                    <div class="user_message_wrap">
                        <ul class="user_hide">
                            <li class="user_li">个人主页</li>
                            <li class="user_li">账号设置</li>
                            <li class="user_li">会员中心</li>
                            <li class="user_li">创作平台</li>
                            <li class="user_li">退出登录</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="big_pic">
            <img src="static/img/zyt/replace.png" alt="" class="replace_pic">
            <div class="big_pic_text">
                <h2>最闪亮的坐标｜铭记</h2>
            </div>
            <h4>44.3万次观看 · 发布于 2022-04-05 13:33</h4>
            <h5>对一切为国家、为民族、为和平付出宝贵生命的人们，不管时代怎样变化，我们都要永远铭记他们的牺牲和奉献</h5>
        </div>
        <div class="reco1_small">
            <div class="reco1_small_wrap">
                <div class="reco1_small_title">
                    <div class="small_text">接下来</div>
                    <!-- <i class="fa fa-user-circle" aria-hidden="true"></i> -->
                    <i class="fa fa-toggle-on" aria-hidden="true" id="fa-toggle-on"></i>
                    <i class="fa fa-toggle-off" aria-hidden="true" id="fa-toggle-off"></i>
                    <div class="autoplay">自动播放</div>
                </div>
                <ul class="small_pic_text">
                    <li class="small_li">
                        <div class="small_pic"><img src="static/img/zyt/replace.png" alt="" class="small_picture"></div>
                        <div class="small_text">文字</div>
                    </li>
                    <li class="small_li">
                        <div class="small_pic"><img src="static/img/zyt/replace.png" alt="" class=" small_picture"></div>
                        <div class="small_text">文字</div>
                    </li>
                    <li class="small_li">
                        <div class="small_pic"><img src="static/img/zyt/replace.png" alt="" class=" small_picture"></div>
                        <div class="small_text">文字</div>
                    </li>
                    <li class="small_li">
                        <div class="small_pic"><img src="static/img/zyt/replace.png" alt="" class=" small_picture"></div>
                        <div class="small_text">文字</div>
                    </li>
                    <li class="small_li">
                        <div class="small_pic"><img src="static/img/zyt/replace.png" alt="" class=" small_picture"></div>
                        <div class="small_text">文字</div>
                    </li>
                    <li class="small_li">
                        <div class="small_pic"><img src="static/img/zyt/replace.png" alt="" class=" small_picture"></div>
                        <div class="small_text">文字</div>
                    </li>
                    <li class="small_li">
                        <div class="small_pic"><img src="static/img/zyt/replace.png" alt="" class=" small_picture"></div>
                        <div class="small_text">文字</div>
                    </li>
                    <li class="small_li">
                        <div class="small_pic"><img src="static/img/zyt/replace.png" alt="" class=" small_picture"></div>
                        <div class="small_text">文字</div>
                    </li>
                    <li class="small_li">
                        <div class="small_pic"><img src="static/img/zyt/replace.png" alt="" class=" small_picture"></div>
                        <div class="small_text">文字</div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="like">
            <div class="opation">
                <img src="static/img/zyt/like_user.webp" alt="" class="like_user">
                <div class="introduce">
                    未来客户端
                    <span class="market">nnn个粉丝 mmm条评论</span>
                </div>
                <div class="look">关注</div>
                <div class="like_store">
                    <i class="fa fa-star-o" aria-hidden="true" id="remark_content_pic_star"></i>
                </div>
            </div>
        </div>
        <div class="remark_summary">
            <div class="remark_title">有？？条评论</div>
            <ul class="tab">
                <li class="tab_li tab_list">
                    时间排序
                    <select name=" 时间排序" id="sort">
                        <option>一天前</option>
                        <option>一星期前</option>
                        <option>一月前</option>
                        <option>一年前</option>
                    </select>
                </li>
                <li class="tab_li">热度排序</li>
                <li class="tab_li">类型排序</li>
            </ul>
            <ul class="remark add">
                <li class="remark_li">
                    <img src="static/img/zyt/user.jpeg" alt="" class="remark_li_pic" id="remark_user">
                </li>
                <li class="remark_li">
                    <img src="static/img/zyt/user.jpeg" alt="" class="remark_li_pic">
                    <div class="remark_text">
                        <div class="remark_name">用户名??????? <time>发布时间</time></div>
                        <div class="remark_content">评论内容</div>
                        <ol class="remark_opation">
                            <li class="praise">
                                <i class="fa fa-thumbs-up" aria-hidden="true" id="remark_like"></i>
                                <input type="text" class="praise_count" placeholder="7456">
                            </li>
                            <li class="respond">回复</li>
                            <li class="respond_count">??条回复
                                <span class="repond_content"></span>
                                <span class="pull">
                                        <img src="static/img/zyt/pull.png" alt="" class="pull_arrow">
                                    </span>
                            </li>
                        </ol>
                    </div>
                </li>
                <li class="remark_li">
                    <img src="static/img/zyt/user.jpeg" alt="" class="remark_li_pic" id="remark_user">
                </li>
                <li class="remark_li">
                    <img src="static/img/zyt/user.jpeg" alt="" class="remark_li_pic" id="remark_user">
                </li>
            </ul>
            <ul class="remark">
                <li class="remark_li">
                    <img src="static/img/zyt/user.jpeg" alt="" class="remark_li_pic" id="remark_user">
                </li>
                <li class="remark_li">
                    <img src="static/img/zyt/user.jpeg" alt="" class="remark_li_pic">
                    <div class="remark_text">
                        <div class="remark_name">用户名??????? <time>发布时间</time></div>
                        <div class="remark_content">评论内容</div>
                        <ol class="remark_opation">
                            <li class="praise">
                                <img src="static/img/zyt/like.png" alt="" class="remark_like">
                                <input type="text" class="praise_count" placeholder="7456">
                            </li>
                            <li class="respond">回复</li>
                            <li class="respond_count">??条回复
                                <span class="repond_content"></span>
                                <span class="pull">
                                        <img src="static/img/zyt/pull.png" alt="" class="pull_arrow">
                                    </span>
                            </li>
                        </ol>
                    </div>
                </li>
                <li class="remark_li">
                    <img src="static/img/zyt/user.jpeg" alt="" class="remark_li_pic" id="remark_user">
                </li>
                <li class="remark_li">
                    <img src="static/img/zyt/user.jpeg" alt="" class="remark_li_pic" id="remark_user">
                </li>
            </ul>
            <ul class="remark">
                <li class="remark_li">
                    <img src="static/img/zyt/user.jpeg" alt="" class="remark_li_pic" id="remark_user">
                </li>
                <li class="remark_li">
                    <img src="static/img/zyt/user.jpeg" alt="" class="remark_li_pic">
                    <div class="remark_text">
                        <div class="remark_name">用户名??????? <time>发布时间</time></div>
                        <div class="remark_content">评论内容</div>
                        <ol class="remark_opation">
                            <li class="praise">
                                <img src="static/img/zyt/like.png" alt="" class="remark_like">
                                <input type="text" class="praise_count" placeholder="7456">
                            </li>
                            <li class="respond">回复</li>
                            <li class="respond_count">??条回复
                                <span class="repond_content"></span>
                                <span class="pull">
                                        <img src="static/img/zyt/pull.png" alt="" class="pull_arrow">
                                    </span>
                            </li>
                        </ol>
                    </div>
                </li>
                <li class="remark_li">
                    <img src="static/img/zyt/user.jpeg" alt="" class="remark_li_pic" id="remark_user">
                </li>
                <li class="remark_li">
                    <img src="static/img/zyt/user.jpeg" alt="" class="remark_li_pic" id="remark_user">
                </li>
            </ul>
        </div>







    </div>
</div>


<script src="js/zyt/js/recomment.js"></script>

</body>
</html>