<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static/img/wzz/newicon.png" type="image/vnd.microsoft.icon">
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="css/wzz/users-land.min.css" type="text/css">
    <title>登录</title>
</head>
<body>
    <div class="main">
        <img src="img/wzz/top.png" class="land_top">
        <div id="land_main">
            <h3>管理员登录</h3>
            <div id="input_land">
                <input type="text" id="land_id" placeholder="请输入您的用户名">
                <a id="eye" href="javascript:;"><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                <input type="password" id="land_password" placeholder="请输入您的密码">
            </div>
            <button id="land">登陆</button>
        </div>
    </div>
</body>
<script src="js/jquery-3.6.0.js"></script>
<link rel="stylesheet" href="css/sweetalert.css" type="text/css">
<script src="js/sweetalert-dev.js"></script>
<script src="js/wzz/users-land.js" type="text/javascript" charset="utf-8"></script>
</html>