<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VIP简介</title>
    <link rel="stylesheet" href="css/zyt/VIP_say.css">
</head>

<body>
    <div class="VIP_say">
        <div class="VIP_say_wrap">
            <div class="instruction">会员介绍</div>
            <h3>一、会员级别</h3>
            <p>按照会员类型的不同，分为会员、非会员</p>
            <h3>二、会员有效期</h3>
            <p>有效期：从您成为会员之日起，即生效。</p>
            <h3>三、如何保持会员资格</h3>
            <p>到期后，可申请续签</p>
            <img src="static/img/zyt/QQ截图20220503171123.png" alt="">
        </div>
    </div>

</body>

</html>