* {
    margin: 0;
    padding: 0;
}
body{
    background: {
        color: #E9E9E9;
        image:url(https://i.gtimg.cn/qzone/space_item/orig/3/72019_top.jpg);
        size: cover;
        repeat: no-repeat;
        attachment: fixed;
        position: center center;
    }
    a{
        text-decoration: none;
    }
}
.container2 {
    margin: 0 auto;
    max-width: 1200px;
    min-width: 900px;
    display: flex;
}
.down{
	animation-name:down;
	animation-duration: .6s;
	transition-timing-function: linear;
	-webkit-transition-timing-function: linear;
}
@keyframes down
{
	from {bottom:-100px;} 
	to {bottom:0;}
}
@-webkit-keyframes down
{
	from {bottom:-100px;} 
	to {bottom:0;}
}
.container1 {
    margin: 0 auto;
    max-width: 1150px;
    min-width: 1000px;
    display: flex;
}
.recomments1 {
    margin-top: 50px;
    width: 100%;
    min-height: 1000px;
}
.showcommit{
    width: 770px;
    height: 70px;
    padding: 10px;
    box-shadow: 0px 1px 3px #888888;
    position: fixed;
    bottom: -100px;
    background-color: white;
    z-index: 99;
    border-radius: 8px 8px 0 0;
    // transition: .3s;
    img {
        position: absolute;
        width: 40px;
        height: 40px;
        left: 10px;
        border-radius: 40px;
    }
    button {
        right: 0px;
        width: 90px;
        height: 43px;
        font-size: 16px;
        position: absolute;
        right: 30px;
        border-radius: 4px;
        background-color: #73b4f0;
        color: white;
        border: none;
        cursor: pointer;
        transition: .3s;
        &:hover {
            background-color: #4fa2f0;
        }
    }
    #showcommit_area{
        position: absolute;
        left: 60px;
        resize: none;
        outline: none;
        border:rgb(242, 242, 242) 2px solid ;
        width: 580px;
        height: 31px;
        padding: 5px;
        line-height: 16px;
        font-size: 14px;
        border-radius: 5px;
        background-color: rgb(242, 242, 242);
        transition: .3s;
    }
}
.recomments1_wrap {
    position: relative;
    margin: 0 auto;
    height: 100%;
}
.food_find_input_hide {
    // display: none;
    position: absolute;
    top: 60px;
    left: 770px;
    width: 330px;
    height: 500px;
    list-style: none;
}

.food_find_input_li {
    width: 100%;
    height: 30px;
    margin-top: 20px;
    line-height: 30px;
    background-color: aqua;
}

.column_sort_select {
    background-color: rgb(247, 247, 247);
}

.more_hide {
    display: none;
    position: absolute;
    top: 45px;
    left: 392px;
    width: 320px;
    height: 210px;
    border-radius: 15px;
    background-color: rgb(62, 112, 183);
    box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, .4);
    z-index: 33;
}

.more_hide_wrap {
    width: 280px;
    height: 190px;
    margin-left: 20px;
    margin-top: 10px;
}

.more_hide_wrap a {
    float: left;
    font-size: 15px;
    margin-left: 30px;
    color: #fff;
    font-weight: 700;
}

.left_nav {
    position: fixed;
    left: 20px;
    top: 130px;
    z-index: 100;
    width: 50px;
    height: 300px;

    .recomments1_left {
        position: relative;
        height: 300px;
        width: 50px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .recomments1_left_li {
        text-align: center;
        margin-bottom: 20px;
        width: 50px;
        color: #615f5f;
        height: 50px;
        border-radius: 15px;
        border: 2px gainsboro solid;
        margin-bottom: 3px;
        display: block;
        cursor: pointer;
        font-size: 13px;
        transition: .3s all;
        background-color: white;

        &:hover {
            background-color: #067ae6;
            color: white;
        }

        .fa {
            font-size: 16px;
            margin: 6px 0px;
        }

        #like_praise {
            transition: .3s all;
        }

    }
}

.search_session {
    width: 300px;
    height: 30px;
    background-color: #1682e6;
}

.button_session {
    width: 100px;
    height: 30px;
    background-color: #fff;
}

.recomments1_middle {
    width: 750px;
    padding: 20px;
    min-height: 1100px ;
    padding-bottom: 100px;
    background-color: white;
    .big_title {
        margin-top: 20px;
        width: 100%;
        // height: 40px;
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 30px;
    }

    .small_title {
        font-size: 14px;
        color: #999;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .lookCount {
        width: 100px;
        margin-left: 30px;
        color: #1682e6;
    }

    #recos1_content {
        padding: 10px;
        min-height: 400px;
        border-radius: 8px;
        width: 730px;
        background-color: #f7f9fb;
    }

    .recos1_remark {
        margin-top: 30px;
        width: 100%;
        background-color: white;
        .recos1_title {
            font-size: 16px;
            color: #7ebcf6;
            margin-bottom: 20px;
            span{
                font-size: 20px;
                 color: #4aa1f2;
            }
        }
        .recos1_remark_text {
            width: 100%;
            height: 65px;
            margin: 10px 0;
            line-height: 40px;
            display: flex;
            position: relative;
            img {
                position: absolute;
                width: 40px;
                height: 40px;
                left: 10px;
                border-radius: 40px;
            }
            button {
                right: 0px;
                width: 90px;
                height: 43px;
                font-size: 16px;
                position: absolute;
                border-radius: 4px;
                background-color: #73b4f0;
                color: white;
                border: none;
                cursor: pointer;
                transition: .3s;
                &:hover {
                    background-color: #4fa2f0;
                }
            }
            #remark_area{
                position: absolute;
                left: 60px;
                resize: none;
                outline: none;
                border:rgb(242, 242, 242) 2px solid ;
                width: 580px;
                height: 31px;
                padding: 5px;
                line-height: 16px;
                font-size: 14px;
                border-radius: 5px;
                background-color: rgb(242, 242, 242);
                transition: .3s;
            }
        }
    }

    .all_commit {
        width: 100%;
        padding: 10px 0;
        .all_commit_a {
            padding-bottom: 20px;
            border-bottom: 1.5px #b4b4b4 solid;
            transition: .3s;
            .all_commit_top {
                width: 100%;
                height: 35px;
                margin: 10px 0;
                line-height: 40px;
                display: flex;
                position: relative;
                color: #615f5f;
                img {
                    margin: 2px 10px;
                    width: 30px;
                    height: 30px;
                    border-radius: 40px;
                    border: 2px gainsboro solid;
                }
                .all_commit_name {
                    display: block;
                    font-size: 16px;
                    &:hover {
                        color: #067ae6;
                        font-weight: 800;
                    }
                }
            }
            .all_commit_text {
                margin-left: 10px;
                width: 700px;
                min-height: 20px;
                padding: 10px;
                font-size: 15px;
                color: #3e3e3e;
                background-color: #f7f9fb;
                border-radius: 5px;
            }
            .all_commit_bon{
                width: 100%;
                height: 35px;
                line-height: 40px;
                display: flex;
                position: relative;
                color: #615f5f;
                .all_commit_time{
                    margin-left: 20px;
                    height: 40px;
                    color: #999;
                    font-size: 15px;
                }
                .all_commit_number{
                    font-size: 14px;
                    margin-left: 120px;
                    height: 40px;
                    color: #999;
                    span{
                        padding: 0 5px;
                        color: #615f5f;
                    }
                }
                .com_reply{
                    position: absolute;
                    right: 60px;
                    color: #888888;
                    font-size: 15px;
                    &:hover{
                        color: #4fa2f0;
                    }
                }
                .com_delete{
                    position: absolute;
                    right: 30px;
                    color: #888888;
                    font-size: 17px;
                    &:hover{
                        color: #4fa2f0;
                    }
                }
            }
            .all_commit_say{
                width: 100%;
                height: 50px;
                margin: 10px 0;
                line-height: 40px;
                display: flex;
                position: relative;
                img {
                    position: absolute;
                    width: 40px;
                    height: 40px;
                    left: 10px;
                    border-radius: 40px;
                }
                button {
                    right: 0px;
                    width: 90px;
                    height: 41px;
                    font-size: 16px;
                    position: absolute;
                    border-radius: 4px;
                    background-color: #73b4f0;
                    color: white;
                    border: none;
                    cursor: pointer;
                    transition: .3s;
                    &:hover {
                        background-color: #4fa2f0;
                    }
                }
                textarea{
                    position: absolute;
                    left: 60px;
                    resize: none;
                    outline: none;
                    border:rgb(242, 242, 242) 1px solid ;
                    width: 580px;
                    height: 31px;
                    padding: 5px;
                    line-height: 16px;
                    font-size: 14px;
                    border-radius: 5px;
                    background-color: rgb(242, 242, 242);
                    transition: .3s;
                }
            }
            .comson{
                margin-top: 5px;
                margin-left: 30px;
                width: 680px;
                .comson-a{
                    margin-bottom: 10px;
                    padding-bottom: 5px;
                    width: 680px;
                    min-height: 50px;
                    border-bottom:1px #dcdcdc solid;
                    img{
                        position: absolute;
                        width: 28px;
                        height: 28px;
                        border-radius: 100px;
                    }
                    .comson-main{
                        margin-left: 35px;
                        width: 640px;
                        min-height: 50px;
                        .comson-name{
                            font-size: 13px;
                            color: #73b4f0;
                            height: 20px;
                            &:hover{
                                color: #2f96f7;
                                font-weight: 600;
                            }
                        }
                        .comson-text{
                            padding: 5px 10px;
                            background-color: #f4f9ff;
                            border-radius: 5px; 
                            color: #3e3e3e;
                            font-size: 14px;
                            line-height: 18px;
                            min-height: 18px;
                        }
                        .comson-ton{
                            padding: 3px;
                            color: #aeaeae;
                            font-size: 13px;
                            line-height: 18px;
                            height: 18px;
                            position: relative;
                            .comson_delete{
                                position: absolute;
                                right: 30px;
                                color: #888888;
                                font-size: 16px;
                                &:hover{
                                    color: #4fa2f0;
                                }
                            }
                            .comson_reply{
                                color: #888888;
                                font-size: 14px;
                                margin-left: 50px;
                                &:hover{
                                    color: #4fa2f0;
                                }
                            }
                        }
                    }
                }
                .soncommore{
                    font-size: 14px;
                    color: #888888;
                    &:hover{
                        color: #4fa2f0;
                    }
                }
            }
        }
    }
}
#comend{
    width: 750px;
    display: none;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    color: #4aa1f2;
    text-align: center;
}
.recos1_right {
    position: absolute;
    left: 800px;
    padding: 0 10px 0 10px;
    width: 320px;
    height: 100%;
    background-color: white;
    .recos1_right_top {
        margin: 20px 0;
        width: 320px;
        top: 50px;
        position: fixed;
        background-color: #f8fbfe;
        padding: 20px 0;
        border-radius: 8px;
    }

    img {
        position: relative;
        left: 140px;
        width: 45px;
        height: 45px;
        border-radius: 40px;
        border: 2px gainsboro solid;
    }

    .publisher {
        padding: 0 5px;
        height: 20px;
        text-align: center;
        font-weight: 700;
        font-size: 16px;
        list-style: 16px;
        color: #888888;
        display: block;
        margin: 5px 0;

        &:hover {
            color: #1682e6;
        }
    }

    .follow {
        margin-top: 10px;
        margin-left: 115px;
        width: 100px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        font-weight: 700;
        background-color: rgb(255, 0, 60);
        border-radius: 20px;
        color: #fff;
        border: none;

        &:hover {
            cursor: pointer;
        }
    }

}

.all_commit_1 {
    display: none;
    margin-top: 40px;
    margin-left: 10px;
    border-radius: 5px;
    width: 720px;
    // height: 1000px;
    max-height: 1000px;
    min-height: 200px;
    margin-bottom: 30px;
    // background-color: #1682e6;
}

.all_commit_1 li {
    list-style: none;
    margin-top: 30px;
}

.all_commit_a_pic {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    vertical-align: middle;
}

.all_commit_1_userName {
    width: 150px;
    height: 30px;
    margin-left: 10px;
    color: #1890FF;
}

.all_commit_1_time {
    width: 100px;
    height: 30px;
    margin-left: 70px;
    color: #1890FF;

}

.all_commit_1_content {
    width: 720px;
    max-height: 200px;
    min-height: 60px;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
    color: #999;
    font-size: 14px;
    background-color: rgb(248, 248, 248);
}

.weixin_code {
    // display: none;
    position: absolute;
    top: 0px;
    left: 100px;
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.13);
    box-shadow: 0px 2px 0px 1px rgba(255, 255, 255, .4);
    z-index: 333;
    text-align: center;
    line-height: 100px;
}

.shares_hide {
    display: none;
    position: absolute;
    top: 280px;
    left: -28px;
    width: 120px;
    height: 14opx;
    // background-color: rgb(247, 247, 247) ;
    z-index: 20000;
}

.shares_hide a {
    text-decoration: none;
    color: #000000;
}

.shares_hide_wrap {
    position: fixed;
    width: 100px;
    height: 140px;
    margin-left: 23px;
    background-color: #87a8c8;
}

.shares_hide_ul {
    list-style: none;
    width: 100px;
    height: 200px;
    margin-left: 10px;
    margin-top: 20px;
}

.shares_hide_li {
    margin-top: 10px;
    font-size: 14px;
    cursor: pointer;
}

.shares_hide_li:hover {
    color: red;
}

.remark_hide_li {
    position: relative;
    width: 400px;
    height: 200px;
    margin-top: 90px;
}

.remark_hide {
    display: none;
    position: fixed;
    top: 47px;
    right: 0px;
    width: 420px;
    height: 700px;
    background-color: #fff;
    box-shadow: 0px 2px 4px 0px rgba(255, 255, 255, .2);
    z-index: 333;
    overflow: scroll;
}

.same_remark {
    float: left;
    width: 500px;
    height: 600px;
}

.same_remark .all_commit_a {
    margin-top: 60px;
}

.same_remark .all_commit_text {
    margin-top: 30px;
    margin-left: 80px;
    padding-left: 10px;
    height: 60px;
    color: #999;
    line-height: 60px;
    border-radius: 5px;
    background-color: rgb(247, 249, 251);
}

.all_commit_img {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    float: left;
    margin-right: 40px;
    vertical-align: middle;
}

.all_commit_name {
    width: 150px;
    height: 30px;
    float: left;
    color: #1890FF;
}

.all_commit_time {
    width: 393px;
    color: #1890FF;
}

.remark_hide_count {
    margin-left: 40px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 700;
}

.cha {
    position: absolute;
    top: 10px;
    right: 30px;
    cursor: pointer;
}

.remark_hide_wrap {
    position: relative;
}

.remark_hide_wrap_ul {
    list-style: none;
}

.remark_content_user {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    vertical-align: middle;
}

.remark_content_username {
    margin-left: 30px;
}

.recos1_remark_content_div1 {
    margin-top: 5px;
    margin-left: 60px;
    width: 320px;
    height: 150px;
    background-color: rgb(248, 248, 248);
    text-align: center;
    line-height: 150px;
    border-radius: 10px;
}

.remark_hide_login {
    color: red;
}

.remark_hide_wrap_ul {
    width: 120px;
    height: 550px;
}

.remark_hide_li1 {
    width: 320px;
    height: 200px;
    margin-top: 20px;
}

.remark_hide_li {
    position: relative;
    width: 320px;
    height: 150px;
    margin-bottom: 20px;
    margin-left: 30px;
}

.remark_hide_like_context {
    width: 320px;
    height: 150px;
    margin-top: 5px;
    margin-left: 30px;
    border: 2px solid rgb(66, 154, 171);
}

.load_more {
    margin-top: 60px;
    margin-left: 160px;
    width: 120px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border: 3px solid #99c5ee;
}

#like_praise_hide {
    transition: all .6s;
}

.store_tu {
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
}

#remark_tubiao {
    transition: all .6s;
}

#share {
    transition: all .1s;
}

.fa-share-alt {
    width: 20px;
    height: 20px;
}

.last {
    border: 0;
}

#last {
    transition: all .6s;
}

//wzz加的侧边框
.tool_item {
    z-index: 100;
    width: 50px;
    height: 150px;
    position: fixed;
    top: 72vh;
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    a {
        display: block;
        border-radius: 8px;
        padding: 5px;
        width: 35px;
        height: 35px;
        font-size: 14px;
        text-align: center;
        color: #615f5f;
        border: 2px gainsboro solid;
        background-color: white;
        transition: .3s;

        &:hover {
            background-color: #1682e6;
            color: white;
        }

        i {
            padding: 0 5px;
        }
    }
}

#feedback {
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.5);
    position: fixed;
    top: 0px;
    z-index: 101;
    display: none;
    opacity: 0;

    #feedback_main {
        padding: 30px;
        width: 300px;
        height: 330px;
        background-color: white;
        margin: 20vh auto;
        border-radius: 5px;
        position: relative;

        .feedback_main_top {
            font-family: YouYuan;
            font-weight: 900;
            width: 100%;
            height: 30px;
            font-size: 20px;
            text-align: center;
            color: #067ae6;

            img {
                position: absolute;
                top: 10px;
                width: 60px;
                height: 30px;
                left: 30px;
            }

            a {
                display: block;
                width: 25px;
                height: 25px;
                line-height: 22px;
                border-radius: 100px;
                font-size: 25px;
                position: absolute;
                color: #000000;
                top: 10px;
                right: 20px;
                transition: .2s;

                &:hover {
                    color: white;
                    background-color: #69a4dc;
                }
            }
        }

        .feedback_link {
            width: 100%;
            height: 25px;
            font-size: 14px;

            i {
                color: #1682e6;
                padding-right: 5px;
            }
        }

        button {
            bottom: 25px;
            right: 35px;
            position: absolute;
            padding: 7px 10px;
            border-radius: 8px;
            font-size: 16px;
            background-color: #E8F4FF;
            color: #1890FF;
            border: #c3e0fc 1px solid;
            cursor: pointer;

            &:hover {
                background-color: #1890FF;
                color: white;
                border: #1890FF 1px solid;
            }
        }

        .feedback_send {
            height: 23px;
            width: 280px;
            padding-left: 10px;
            outline: none;
            border: 1.5px solid gainsboro;
            border-radius: 5px;
        }

        .feedback_text {
            resize: none;
            height: 120px;
            width: 290px;
            outline: none;
            font-size: 14px;
            border: 1.5px solid gainsboro;
            border-radius: 5px;
            line-height: 18px;
        }
    }
}

//lsw
#hot {
    top: 230px;
    width: 310px;
    margin: 20px 0;
    height: 320px;
    display: flex;
    padding-left: 10px;
    position: fixed;
    overflow: hidden;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #f7f9fb;
    transition: .5s;
    border-radius: 8px;
}

.hotnew-top {
    width: 300px;
    height: 24px;
    margin-top: 10px;
    margin-left: 10px;

    i {
        color: red;
    }
}

#hotnew-title {
    width: 200px;
    height: 25px;
    float: left;
    font-size: 16px;
    margin-top: 5px;
}

#change {
    // margin-left: 30px;
    width: 70px;
    height: 20px;
    float: left;
    color: red;
    cursor: pointer;
    font-size: 16px;
    margin-top: 5px;
}

.showBox {
    top: 40px;
    width: 330px;
    height: 350px;
    overflow: hidden;
    position: absolute;
}

.showBox li>.number {
    display: inline-block;
    width: 18px;
    height: 24px;
    line-height: 24px;
    background-color: #8eb9f5;
    text-align: center;
    margin-right: 5px;
    color: white;
    font-size: 14px;
}

.showBox li {
    list-style: none;
    line-height: 28px;
    overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    text-overflow: ellipsis;
    height: 28px;
    width: 320px;
    transition: .3s;
}

.showBox li:hover {
    background-color: #b9dcfd;
}

.showBox a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.showBox a:hover {
    color: red;
}