*{
  margin: 0;
  padding: 0;
}
a{
    text-decoration: none;
}
#feedback{
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.5);
  position: fixed;
  top: 0px;
  z-index: 101;
  display: none;
  opacity: 0;
  #feedback_main{
      padding: 30px;
      width: 300px;
      height: 330px;
      background-color: white;
      margin: 20vh auto;
      border-radius: 5px;
      position: relative;
      .feedback_main_top{
          font-family: YouYuan;
          font-weight: 900;
          width: 100%;
          height: 30px;
          font-size: 20px;
          text-align: center;
          color: #067ae6;
          img{
              position: absolute;
              top: 10px;
              width: 60px;
              height: 30px;
              left: 30px;
          }
          a{
              display: block;
              width: 25px;
              height: 25px;
              line-height: 22px;
              border-radius: 100px;
              font-size: 25px;
              position: absolute;
              color: #000000;
              top: 10px;
              right: 20px;
              transition: .2s;
              &:hover{
                  color: white;
                  background-color: #69a4dc;
              }
          }
      }
      .feedback_link{
          width: 100%;
          height: 25px;
          font-size: 14px;
          i{
              color: #1682e6;
              padding-right:5px;
          }
      }
      button{
          bottom: 25px;
          right:35px;
          position: absolute;
          padding: 7px 10px;
          border-radius: 8px;
          font-size: 16px;
          background-color: #E8F4FF;
          color: #1890FF;
          border: #c3e0fc 1px solid;
          cursor: pointer;
          &:hover{
              background-color: #1890FF;
              color: white;
              border: #1890FF 1px solid;
          }
      }
      .feedback_send{
          height: 23px;
          width: 280px;
          padding-left: 10px;
          outline:none;
          border: 1.5px solid gainsboro;
          border-radius: 5px;
      }
      .feedback_text{
          resize: none;
          height: 120px;
          width: 290px;
          outline:none;
          font-size: 14px;
          border: 1.5px solid gainsboro;
          border-radius: 5px;
          line-height: 18px;
      }
  }
}